pyrogram
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube_dl
yt_dlp
youtube_search_python==1.4.6
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
yt_dlp
httpx==0.13.3
heroku3
gitpython
